<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gabble - New Gab</title>
</head>

<body>
    <h1>New Gab</h1>
    <form action="/messages" method="post">
        <input type="text" name="message" placeholder="gab gab gab gab">
        <button type="submit">Gab It</button>
    </form>
    <a href="/messages"><button>Cancel</button></a>
</body>

</html>