<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gabble - Home</title>
</head>

<body>
    <h1>GABBLE</h1>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button type="submit">Login</button>
    </form>
    {{#errors}}
      {{#incompleteData}} <h4>{{incompleteData}}</h4> {{/incompleteData}}
      {{#invalidUser}} <h4>{{invalidUser}}</h4> {{/invalidUser}}
      {{#invalidPass}} <h4>{{invalidPass}}</h4> {{/invalidPass}}
    {{/errors}}
    <h3>Not registered? <a href="/signup">Sign Up</a></h3>

</body>

</html>