<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gabble - Messages</title>
</head>

<body>
  {{#name}}
    <ul>
      <li>Logged in as {{name}}</li>
      <li><a href="/create">New Gab</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
    {{#messages}}
      <p>{{body}}</p>
      <h4>{{createdAt}}</h4>
      {{#author}}
        <h4>{{displayName}}</h4>
      {{/author}}
      {{^author}}
        <h4>{{name}}</h4>
        <form action="/delete" method="post">
          <button type="submit" name="message" value={{id}}>Delete</button>
        </form>
      {{/author}}
      {{#canLike}}
        <form action="/like" method="post">
          <button type="submit" name="message" value={{id}}>Like</button>
        </form>
      {{/canLike}}
    {{/messages}}
  {{/name}}
</body>

</html>