<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gabble - Messages</title>
</head>

<body>
  {{#name}}
    <h1>Welcome {{name}}</h1>
    <h3><a href="/create">New Gab</a></h3>
    {{#messages}}
      <p id={{}}>{{body}}</p>
      <h4>{{createdAt}}</h4>
      {{#author}}
        <h4>{{displayName}}</h4>
      {{/author}}
      <form action="/like" method="post">
        <button type="submit" value={{id}}>Like</button>
      </form>
    {{/messages}}
    <form action="/logout" method="get">
        <button type="submit">Logout</button>
    </form>
  {{/name}}
</body>

</html>