<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gabble - Signup</title>
</head>

<body>
    <h1>SIGNUP</h1>
    <form action="/signup" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="text" name="displayName" placeholder="display name">
        <input type="password" name="password" placeholder="password">
        <input type="password" name="confirmPass" placeholder="confirm password">
        <button type="submit">Sign Up</button>
    </form>
    {{#errors}}
      {{#incompleteData}} <h4>{{incompleteData}}</h4> {{/incompleteData}}
      {{#notNewUser}} <h4>{{notNewUser}}</h4> {{/notNewUser}}
      {{#twoDiffPasswords}} <h4>{{twoDiffPasswords}}</h4> {{/twoDiffPasswords}}
    {{/errors}}
    <h3>Already registered? <a href="/">Log In</a></h3>
</body>

</html>